/*
*adding style to the title
*/
h1{
color: #0000CD;
font-family: 'Shojumaru', cursive;
}

img{
  margin: 20px;
}

/*
*adding style to the buttom select
*/
#select{
  background-color: #48D1CC;
  color: #FFFFFF;
  height: 30px;
  margin-left: 600px;
}

/*
*specifying measurements to the images
*/
.image{
  display: inline-block;
  margin: 10px;
  text-align: center;
}

/*
*adding the filters
*/
.black-white{
  filter: grayscale(100%);
}

.negative {
  filter: invert(100%);
}

.original {
  filter: none;
}

.sepia {
  filter: sepia(100%);
}
